
<h1 class="cntr-txt">Existing Questionnaires</h1>
<p class="cntr-txt">
  <%= link_to "New Questionnaire", new_questionnaire_path, class: "button-link new-questionnaire" %>
</p>
<div class="questionnaire-container six-wide shift-three">

  <% @questionnaires.each do |questionnaire| %>
    <div class="questionnaire-name">
      <p class="cntr-txt">
        <%= link_to questionnaire.name, questionnaire_path(questionnaire) %>
      </p>
    </div>
  <% end %>

</div>
