/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bourbon";
@import "neat";
@import "base/base";
@import "errors";
@import "flashes";
@import "questionnaires";
@import "responses";

#content{
  padding-top: 1%;
}

.nav-bar {
  padding-top: 3%;
}

body{
  background-color: lightblue;
}

.button-link {
  @include button;
  text-align: center;
}

.cntr-txt {
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.row {
  @include row();
}

.full-width {
  @include outer-container;
  background-color: white;
  height: 100vw;
}

.one-wide {
  @include span-columns(1);
}

.two-wide {
  @include span-columns(2);
}

.three-wide {
  @include span-columns(3);
}

.four-wide {
  @include span-columns(4);
}

.five-wide {
  @include span-columns(5);
}

.six-wide {
  @include span-columns(6);
}

.seven-wide {
  @include span-columns(7);
}

.eight-wide {
  @include span-columns(8);
}

.nine-wide {
  @include span-columns(9);
}

.ten-wide {
  @include span-columns(10);
}

.eleven-wide {
  @include span-columns(11);
}

.shift-one {
  @include shift(1);
}

.shift-two {
  @include shift(2);
}

.shift-three {
  @include shift(3);
}

.shift-four {
  @include shift(4);
}

.shift-five {
  @include shift(5);
}

.shift-six {
  @include shift(6);
}

.shift-seven {
  @include shift(7);
}

.shift-eight {
  @include shift(8);
}

.shift-nine {
  @include shift(9);
}

.shift-ten {
  @include shift(10);
}

.shift-eleven {
  @include shift(11);
}